@font-face{
    font-family: nova;
    src: url(/fuentes/Exo_2/static/Exo2-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(0, 0, 3);
    margin: 0;
    padding: 0;
}
.limite {    
    max-height: 90vh;
}
.limInt{
    justify-content: center;
    align-items: center;
}
.peliculas{
    justify-content: space-around;
}
.caja1{
    
    align-items: center;
    padding: 1rem;
}
.caja2{
    
    align-items: center;
    padding: 1rem;
}
.caja3{
    
    align-items: center;
    padding: 1rem;
}
.caja4{
    
    align-items: center;
    padding: 1rem;
}
.caja1A{
    background-color: rgb(1, 1, 104);
    height: 100%;
}
.caja2A{
    background-color: rgb(104, 1, 104);
    height: 100%;
}
.caja3A{
    background-color: rgb(1, 104, 41);
    height: 100%;
}
.caja4A{
    background-color: rgb(104, 1, 1);
    height: 100%;
}
.cinema{
    color: white;
    font-family: 'Poor Story', system-ui;
}

.muestra{
    
    align-items: center;
    padding: 0.3rem;
}

.muestra1A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.muestra2A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.muestra3A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.muestra4A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.muestra5A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.muestra6A{
    background-color: rgb(0, 51, 38);
    height: 100%;
}
.texto{
    color: white;
    font-family: 'Poor Story', system-ui;
    
    width: 100%;
}
.card{
    background-color: rgb(32, 32, 32);
}

h2{
    font-family: nova;
}